:root {
	--drop-bg: #47474773;
	--page-height: calc(100vh - 2rem);
	--page-width: calc(var(--page-height) / 29.7 * 21);
	font-family: 'Open Sans',Arial,sans-serif
	background: var(--drop-bg);
	padding: 1rem;
}

body {
	max-width: var(--page-width);
	margin: 0 auto;
	background: var(--drop-bg);
}

#main {
	width: var(--page-width);
	background: white;
	margin: 0 auto;
}

.title {
	text-align: center;
	font-weight: 400;
	font-family: DauphinPlain;
}
.subtitle {
	text-align: center;
	margin: 0.5rem 2rem;
	font-style: italic;
}
.subtitle2 {
	text-align: center;
	margin: 0.5rem 4rem;
}

.main-content {
	border-top: 1px solid black;
	margin: 0 1rem;
}

.panes {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 0.5rem;
}
.panes h2 {
	font-size: 1rem;
}
.panes>div {
	border: solid 1px red;
	page-break-inside: avoid;
}
